
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body {
    width: 600px;
    position: relative;
    margin: auto;
}

#container {
    width: 600px;
    height: 1062px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;

}

header {
    position: absolute;
    margin-left: 226px;
    margin-top: 21px;
    z-index: 1;
}

.top-part {
    position: relative;
    margin-bottom: -24px;
}
.title {
    position: absolute;   
    padding: 13px;
    background: #00AFEC;
    margin-left: 85px;
    
}
.title h1 {
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.par1 {
    position: absolute;
    margin-top: 98px;
    display: inline-block;
    padding-left: 70px;
    padding-right: 70px;
}

.par1 p {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    line-height: 1.3; 
}

.central-image {
    position: absolute;
    margin-top: 230px;
    margin-left: 200px;
}

.btn {
    position: absolute;
    margin-top: 460px;
    margin-left: 230px;
   
}
.btn button {
    border: none;
    background-color: #90C8B0;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    font-weight: 600;
    font-size: 16px; 
    display: flexbox;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.btn button:hover{
    background-color: #00AFEC;
}

.btn button img {
    width: 18px;
    height: 18px;
    margin-left: 12px;
    margin-right: 4px;
}

.par2 {
    position: absolute;
    margin-top: 525px;
    padding-left: 70px;
    padding-right: 70px;
}

.par2 h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
}

.par2 p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
    line-height: 1.3;
}

.par2 img {
    margin-top: 19px;
    margin-left: 156px;
}

footer {
    position: absolute;
    margin-top: 760px; 
    padding-left: 100px;
    padding-right: 100px;
}

footer p {
    
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    line-height: 1.5;
}

.bottom-background {
    position: relative;
    margin-top: 310px;
    z-index: -1;
}


